@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<a href='https://localhost:5000/connect/authorize?client_id=simple_mvc_client&scope=openid%20profile%20simple_api%20email%20offline_access&response_type=code&redirect_uri=https%3A%2F%2Flocalhost%3A4001%2Fcallback&state='>测试获取code</a>
